@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

::-webkit-scrollbar{
    width: 8px;
}

::-webkit-scrollbar-track{
    background: linear-gradient(#393E46, #505863);
}

::-webkit-scrollbar-thumb{
    background: linear-gradient(#9ac554, #C4FB6D);
    border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover{
    background: linear-gradient(#9ac554dd, #c4fb6ddb);
}

::-webkit-scrollbar-horizontal{
    display: none;
}

html{
    scroll-behavior: smooth;
}

body {
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.5)), url('SMKN 4 Tangsel.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

li, a, button {
    font-weight: 600;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
}

.nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 15px 5%;
    z-index: 1000;
}

.sticky-nav {
    background-color: rgba(0, 0, 0, 0.8); /* Ubah warna latar belakang saat navbar berubah */
    color: #fff; /* Ubah warna teks saat navbar berubah */
    transition: background-color 0.5s ease, color 0.5s ease; /* Efek transisi */
    backdrop-filter: blur(5px);
}

.logo {
    margin-right: auto;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    position: relative;
    padding: 0px 20px;
}

.nav-links ul li a {
    transition: all 0.3s ease 0s;
}

.nav-links ul li a:hover {
    color: #C4FB6D;
}

.nav-links ul li .fas {
    margin-left: 10px;
    transition: all 0.3s ease 0s;
}

.nav-links ul li:hover .fas {
    transform: rotate(-90deg);
}

/* Gaya untuk submenu */
.dropdown-content {
    margin-top: 2px;
    display: none;
    position: absolute;
    border-radius: 10px;
    background-color: #393E46;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Gaya untuk item submenu */
.dropdown-content a {
    text-align: left;
    padding: 10px 5px;
    text-decoration: none;
    display: block;
    transition: .5s;
}

/* Gaya untuk item submenu saat dihover */
.dropdown-content a:hover {
    background: #393E46;
    color: #C4FB6D;
}

/* Menampilkan submenu saat item utama dihover */
.dropdown:hover .dropdown-content {
    display: block;
}

.nav-bar button {
    margin-left: 20px;
    padding: 10px 25px;
    background-color: #C4FB6D;
    color: #393E46;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.nav-bar button:hover {
    background-color: #c4fb6da0;
    color: #fff;
}

/* Berita */
.news {
    width: 80%;
    line-height: 1.4;
    border-radius: 20px;
    background: #393E46;
    margin: 160px auto;
    padding: 20px;
    color: #fff;
}

.container {
    max-width: 1200px;
}

.heading-1 {
    font-size: 40px;
    text-transform: uppercase;
}

.heading-2 {
    font-size: 40px;
    line-height: 1.1;
    margin-bottom: 20px;
}

.heading-3 {
    font-size: 20px;
    text-transform: uppercase;
    color: #9ac554;
    margin-bottom: 10px;
}

.sub-heading {
    font-size: 20px;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

.sub-heading p {
    font-weight: 600;
    text-transform: capitalize;
    margin-right: 10px;
}

.sub-heading span {
    color: #ccc;
    font-weight: 300;
    border-right: 1px solid #ccc;
    padding-right: 10px;
}

.sub-heading .important {
    color: #9ac554;
    text-transform: uppercase;
    font-weight: 500;
}

    /* Home */
.home {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 40px;
}

.home-img {
    width: 100%;
    aspect-ratio: 4/3;
}

.list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-bottom: 10px;
}

.list img {
    width: 100%;
    aspect-ratio: 16/9;
}

/* Artikel */
article > p {
    font-size: 20px;
    margin-bottom: 20px;
    columns: 3 25ch;
    column-gap: 40px;
    hyphens: auto;
}

article p:first-child::first-line {
    font-size: 24px;
    font-weight: 600;
}

/* Footer */
footer {
    width: 100%;
    position: relative;
    bottom: 0;
    background: linear-gradient(to right, #393E46, #505863);
    color: #fff;
    padding: 40px 0 30px;
    font-size: 14px;
    line-height: 20px;
}

.footer-content {
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.foot-box {
    flex-basis: 25%;
    padding: 10px;
}

.foot-box:nth-child(2), .foot-box:nth-child(3) {
    flex-basis: 15%;
}

.footer-logo {
    font-size: 18px;
    margin-bottom: 20px;
}

.foot-box:nth-child(1) p {
    text-align: justify;
}

.foot-box h3 {
    width: fit-content;
    margin-bottom: 20px;
    position: relative;
}

.foot-box ul li {
    list-style: none;
    margin-bottom: 10px;
}

.foot-box ul li a {
    color: #ccc;
    font-weight: 600;
    transition: all 0.3s ease 0s;
}

.foot-box ul li a:hover {
    color: #C4FB6D;
}

form {
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #fff;
    margin-bottom: 30px;
}

form .fas {
    font-size: 18px;
    margin-right: 10px;
}

form input {
    width: 100%;
    background: transparent;
    color: #C4FB6D;
    border: 0;
    outline: none;
}

form button {
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
}

form button .fas {
    font-size: 16px;
    color: #fff;
}

.socmed .fab {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: #393E46;
    background: #C4FB6D;
    margin-right: 15px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

.socmed .fab:hover {
    background: #9ac554;
}

hr {
    width: 80%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 20px auto;
}

.copyright {
    text-align: center;
    color: #ccc;
}

.underline {
    width: 100%;
    height: 5px;
    background: linear-gradient(to right, #393E46, #505863);
    border-radius: 3px;
    position: absolute;
    top: 25px;
    left: 0;
    overflow: hidden;
}

.underline span {
    width: 15px;
    height: 100%;
    background: linear-gradient(to right, #9ac554, #C4FB6D);
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 10px;
    animation: moving 2s linear infinite;
}

@keyframes moving {
    0% {
        left: -20px;
    }

    100% {
        left: 100%;
    }
}